.content__confeccion {
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.results__list {
    margin: 50px auto;
}

.table, th, td {
    text-align: center;
    margin: 50px auto;
    border: 1px solid;
    width: 100vh;   
}

.btn__view {
    background-color: var(--boton_activo);
    width: 100%;
    height: 40px;
    cursor: pointer;
    margin-bottom: 16px;
    border-radius: 15px;
}

.btn__enviar {
    width: 170px;
    height: 40px;
    background-color: var(--boton_activo);
    border: none;
    color: var(--Texto_menus);
    margin-bottom: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 40%;
}
