.bienvenido {
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.bienvenido__title {
    margin: 50px auto;
    font-size: 2rem;

}

.logoUniversidad {
   width: 300px;
}

.bienvenido__descripcion {
    margin: 50px;
    font-size: 1.5rem;
    }

.title__footer {
    margin-left: 15px;
}