<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../styles/stylesMinisterio/stylesInicio.css" rel="stylesheet" type="text/css" />

    <title>Ministerio de educación</title>
  </head>
  <body>
    <!-- clase padre -->
    <div id="container">
    
        <!-- menu -->
      <div id="navbar">
        <li>
          <ul>
            <li>
              <a href="/test.html"><ion-icon name="home"></ion-icon>Inicio</a>
            </li>
            <li><ion-icon name="heart"></ion-icon>Analíticos a validar</li>
            <li><ion-icon name="heart"></ion-icon>Confirmación PDF</li>
          </ul>
        </li>
      </div>
      <!-- cuerpo de la pagina -->
      <div id="body">
        <!-- titulos e íconos -->
        <div id="container-titulos">
          <div id="titulos">
            <h3 id="titulo">Sistema de Certificados</h3>
            <label for="titulo">Basado en blockchain</label>
          </div>
          <div id="iconos">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-icon name="log-out-outline"></ion-icon>
          </div>
        </div>
        <!-- contenedor de inputs y tablas -->
        <div id="container-content">
            <form action="">
                <div id="inputs-search">
                <input type="text" placeholder="Buscar trámite" />
                 <input id="botonsubmit"type="submit" href="" >
            </form>
          </div>
        </div>
      </div>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>