@import url(../globales.css);

.content {
  background-image: url(../../img/FondoAlumnos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.blur {
  height: 100%;
  background-color: rgba(5, 5, 8, 0.846);
  /* backdrop-filter: blur(10px); */
}
