<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/globales.css" />
    <link
      rel="stylesheet"
      href="../../styles/stylesalumnos/globalAlumnos.css"
    />
    <title>Tramites Alumnos</title>
  </head>
  <body>
    <main class="container">
      <nav class="navbar">
        <ul class="navbar__links">
          <li class="link">
            <a href="./alumnosInicio.html">
              <ion-icon name="home-outline"></ion-icon>
              <span>Inicio</span>
            </a>
          </li>
          <li class="link">
            <a href="./alumnosTramites.html">
              <ion-icon name="ribbon-outline"></ion-icon>
              <span>Iniciar tramite</span></a
            >
          </li>
          <li class="link">
            <a href="./alumnosSeguimiento.html">
              <ion-icon name="footsteps-outline"></ion-icon>
              <span>Seguimiento</span>
            </a>
          </li>
          <li class="link">
            <a href="./alumnoReclamo.html">
              <ion-icon name="mail-outline"></ion-icon>
              <span>Reclamos</span>
            </a>
          </li>
          <li class="link">
            <a href="./alumnosCertificadosEmitidos.html">
              <ion-icon name="flag-outline"></ion-icon>
              <span>Otorgados</span>
            </a>
          </li>
        </ul>
      </nav>
      <section class="content">
        <div class="blur">
          <header class="header">
            <div class="logo">
              <h1 class="logo__title">Sistema de certificados</h1>
              <span class="logo__subtitle">Basado en blockchain</span>
            </div>
            <div class="user">
              <picture>
                <img
                  class="user_img"
                  src="../../assets/users/profile.png"
                  alt="Usuario"
                />
              </picture>
              <span class="user_text">Usuario</span>

              <a href="../login.html">
                <button class="user_exit" type="button">
                  <ion-icon name="exit-outline"></ion-icon>
                </button>
              </a>
            </div>
          </header>
          <div class="section_principal">
            <h2 class="title__principal">Bienvenidos</h2>
            <p class="description">
              Para iniciar un nuevo tramite debe completar el siguiente
              formulario
            </p>
            <form class="form__tramite">
              <label for="name"> Nombre </label>
              <input id="name" type="text" placeholder="Ingrese su nombre" />
              <label for="lastName"> Apellido </label>
              <input
                id="lastName"
                type="text"
                placeholder="Ingrese su apellido"
              />
              <label for="dni"> DNI </label>
              <input id="dni" type="number" placeholder="Ingrese su DNI" />
              <label for="enrollment"> Matricula </label>
              <input
                id="enrollment"
                type="text"
                placeholder="Ingrese su matricula"
              />
              <label for="career"> Carrera </label>
              <select name="career" id="career">
                <option value="" disabled selected>Ingrese una carrera</option>
                <option value="EISI">Ingenieria en sistemas</option>
                <option value="ELSI">Licenciatura en sistemas</option>
                <option value="ETUI">
                  Tecnicatura universitaria en sistemas
                </option>
              </select>
              <label for="university"> Universidad </label>
              <select name="university" id="university">
                <option value="" disabled selected>Ingrese Universidad</option>
                <option value="UNLAR">UNLAR</option>
                <option value="UTN">UTN</option>
                <option value="UNC">UNC</option>
              </select>

              <input type="submit" id="enviar" value="Enviar" />
            </form>
          </div>
          <footer class="footer">
            <p class="title__footer">Copyrigth Seminario 2®</p>
          </footer>
        </div>
      </section>
    </main>

    <script src="../../app/alumno/dataTramites.js"></script>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
