@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --background: #1f1f1f;
  --backgraund_footer: rgba(217, 217, 217, 0.09);
  --navbar: rgba(43, 174, 203, 0.4);
  --texto_menus: #ffffff;
  --boton_activo: #5acad9;
  --boton_inactivo: #415659;
  --font_color: #ffffff;
  --cuadro_de_datos: rgba(217, 217, 217, 0.6);
  --fontFamly: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--fontFamly);
  color: var(--font_color);
}
ul {
  list-style: none;
}

body {
  background-color: var(--background);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  height: 100%;
  max-width: 1200px;
}

.navbar {
  position: static;
  top: 0;
  bottom: 0;
  left: auto;
  right: auto;
  padding: 30px;

  width: 230px;
  background: var(--navbar);
  border-top-left-radius: 15px;
}

.navbar_links {
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.link {
  padding-bottom: 20px;
}
.link a {
  height: 50px;
  display: flex;
  width: 200px;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 20px;
  color: var(--font_color);
  align-items: center;
}
.link a ion-icon {
  font-size: 2rem;
  font-weight: bold;
}
.link a span {
  font-size: 1rem;
  font-weight: bold;
}

/* SECCION DE CONTENT*/
.content {
  position: relative;
  background-image: url(../img/FondoAlumnos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 970px;
}
.blur {
  position: relative;
  height: 100%;
  background-color: rgba(5, 5, 8, 0.846);
}

/**header**/
.header {
  display: flex;
  width: 100%;
  height: 100px;
  border-top-right-radius: 15px;
  background-color: var(--boton_inactivo);
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--texto_menus);
  padding: 10px;
  border-radius: 15px;
  margin-left: 15px;
  color: var(--font_color);
  text-align: center;
}
.user {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 160px;
  margin-right: 20px;
}
.user_img {
  width: 32px;
}

.user_text {
  font-size: 1rem;
}

.user_exit {
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}
/* SECCION PRINCIPAL */
.section_principal {
  height: 700px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.title__principal {
  margin: 1rem auto;
}

.description {
  margin-left: 4em;
  margin-bottom: 2em;
  text-align: left;
}

/* Formulario Busqueda */
.formulary__seach {
  left: 0;
  width: 80%;
  text-align: left;
  margin-left: 4em;
}

.label_seach {
  font-size: 1.2rem;
}

.seach__input {
  margin: 20px auto;
  width: 400px;
  height: 2em;
  border-radius: 15px;
  text-align: justify;
  padding-left: 15px;
  color: black;
  font-size: 1rem;
}
.seach__btn {
  padding: 10px 30px;
  border-radius: 15px;
  color: var(--font_color);
  margin-left: 15px;
  cursor: pointer;
  transition: 0.5s;
  background-color: var(--boton_activo);
}

.seach__btn:hover {
  scale: 1.1;
  transition: 0.5s;
}

/*TABLA DE CONTENIDO */

.results {
  margin-left: 4em;
}
.results__title {
  text-align: left;
  margin: 1em auto;
}

.btn_view {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--boton_activo);
}

.btn-group {
  display: inline-block;
  margin: 10px auto;
}
.btn {
  margin-top: 25px;
  background-color: var(--boton_activo);
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.8rem;
  border-radius: 15px;
}
.btn-active {
  background-color: var(--boton_inactivo);
}
.table {
  background-color: var(--cuadro_de_datos);
  width: 95%;
  padding: 15px;
  border-radius: 15px;
  border-collapse: collapse;
}

.table__head {
  background-color: var(--boton_inactivo);
  padding: 50px;
}
.fila,
th {
  height: 40px;
}
.fila:nth-child(even) {
  background-color: rgb(95, 104, 126);
}

/* FOOOTER */

.footer {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 20px;
  z-index: 2;
  background-color: #1f1f1f;
}
