* {
  color: #000;
}
body {
  width: 100vw;
  background-color: #fff;
}
.body__pdf {
  background-image: url('../assets/certificate/certificate.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 842px;
  height: 595px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
h2 {
  text-align: center;
  margin-top: 30px;
}
.name {
  margin-top: 230px;
  text-align: center;
}
.carrera {
}
h3 {
  margin-left: 100px;
  margin-top: 70px;
}
.hash {
  width: 300px;
  word-wrap: break-word;
  margin-left: 100px;
}
