/*Content*/
.content {
  background-image: url(../../img/FondoMinisterio.jpg);
}
/* Page Bienvenida */
.seccion_ministerio {
  text-align: left;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
