*{
    margin: 0;
}

#container{
    display: flex;
    flex-direction: row;
}

#menu{
    position: fixed;
    height: 100%;
    background: #1f1f1f;
    width: 200px;

}
#menu li {
    color: white;
    text-decoration: none;
    list-style: none;
    margin-top: 15%;
}
#menu li a { 
    color: white;
    text-decoration: none;
    list-style: none;
    margin-top: 15%;
}

#body{
    position: fixed;
    background-image: url(https://s3-alpha-sig.figma.com/img/a9d7/b52c/fe445dd8985ce6a4cb6922b3f3db44c8?Expires=1662940800&Signature=FZo5AONoXb76PaI0Va1RnS2HlUzEbGklTGOlEnr0Wcq9iUYG0YvXV06UuLrzIcu7u7Tye7xN4XicaKUN51c5Z738Zgvpw7Y45We99NDX~-d9Jqezv3cY5btp38WWz6UCG1o9tgqqYdbsuVcNEHjpXfa7VavgGsI-92L4L1LdcrbDxL4kGzHqlXjxnLuMfX3qLXRCC-PoYu5idkF9ynljcDW5MqFsXGtagFZNt4QlbqK22FJOFe8orKHe1Hy6WUKlsKrvmgjN062qziGMCKNme2zg8tnob6VcGG2PjqpNo6P9PQzUtrjJK5nOkkv6bqKcqo-Ff5mkc05nRGBPpNbeDA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA) ;
    width: calc(100% - 200px);
    margin-left: 200px;
    height: 100%;
    }

#container-titulos{
    display: flex;
    flex-direction: row;
    margin: 1%;
}
#titulos{
    color: white;
}
#titulos h3{
    font-size: 25pt;
}

#iconos{
color: white;
display: flex;
justify-content: end;
margin-left: 50%;
}

#container-content{
    display: flex;
    flex-direction: row;
  justify-content: center;

}
#container-content input{
    width: 400px;
    height: 25px;
    border-radius: 10px;
}
#botonsubmit{
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: rgb(255,255,255, 0.6);
    color: white;
    font-size: 12pt;
    font-weight: 400;
    text-decoration: none;
}

<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
</style>