<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <!--Imagen de login-->
    </div>
    <div>
    <form action="" class="form-login">
        <h5>Ingrese al Sistema</h5>
        <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
        <input class="controls" type="password" name="contraseña" value="" placeholder="Contraseña">
        <input class="buttons" type="submit" name="" value="Ingresar">
        <input class="buttons" type="submit" name="" value="Registrarse">
        <h5>Seleccione su categoria</h5>
        <select name="categoria" id="categoria">
            <option value="estudiantil">Estudiantil</option>
            <option value="universidad">Universidad</option>
            <option value="ministerio">Ministerio</option>
        </select>
        <p><a href="#">¿Olvitaste tu Contraseña?</a></p>
    </form>
    </div>

</body>
</html>
