<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="form-login">
        <h5>Formulario Login</h5>
        <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
        <input class="controls" type="password" name="contraseña" value="" placeholder="Contraseña">
        <input class="buttons" type="submit" name="" value="Ingresar">
        <p><a href="#">¿Olvitaste tu Contraseña?</a></p>
    </section>

</body>
</html>
