<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="../styles/login/login.css" />
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <h2 class="logo__title">Sistema de Certificados</h2>
        <p class="logo__subtitle">Basado en Blockchain</p>
      </div>
    </div>
    <div class="messgError" id="messgError">
      <ion-icon name="warning-outline"></ion-icon>
      <p>Usuario o Categoria no validos. Intente nuevamente...</p>
    </div>
    <div>
      <form class="login" id="formLogin">
        <h2 class="login__title">Ingrese al Sistema</h2>

        <input
          class="login__input"
          type="text"
          id="usuario"
          value=""
          placeholder="Usuario"
        />
        <input
          class="login__input"
          type="password"
          id="contraseña"
          value=""
          placeholder="Contraseña"
        />
        <input
          class="login__buttons"
          type="submit"
          id="btnIngesar"
          value="Ingresar"
        />
        <input
          class="login__buttons login__buttons--secondary"
          type="submit"
          value="Registrarse"
        />
        <h2 class="login__subtitle">Seleccione su categoria</h2>
        <select class="login__buttons" name="categoria" id="categoria">
          <option value="Alumno">Estudiantil</option>
          <option value="Universidad">Universidad</option>
          <option value="Ministerio">Ministerio</option>
        </select>
        <p class="login__text"><a href="#">¿Olvitaste tu Contraseña?</a></p>
      </form>
    </div>
    <script src="../app/login.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
