<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="../styles/globales.css" />
    <link rel="stylesheet" href="../styles/login/register.css" />
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <h2 class="logo__title">Sistema de Certificados</h2>
        <p class="logo__subtitle">Basado en Blockchain</p>
      </div>
    </div>
    <div>
      <form class="register" id="form__register">
        <h2 class="register__title">Registrarse en el sistema</h2>
        <div class="campo__register">
          <span>Nombre</span>
          <input
            type="text"
            class="input__register"
            id="userName"
            placeholder="Ingrese su nombre"
            required
          />
          <span>Apellido</span>
          <input
            type="text"
            class="input__register"
            id="lastName"
            placeholder="Ingrese su apellido"
            required
          />
          <span>Contraseña</span>
          <input
            type="password"
            class="input__register"
            id="password"
            placeholder="Ingrese su contraseña"
            required
          />
          <span>Correo electronico</span>
          <input
            type="email"
            class="input__register"
            id="email"
            placeholder="Ingrese su email"
            required
          />

          <label for="typeUser">
            Elija tipo de usuario
            <select required class="category_user" id="typeUser">
              <option value="Alumno">Alumno</option>
              <option value="Universidad">Universidad</option>
              <option value="Ministerio">Ministerio</option>
            </select>
          </label>
        </div>
        <input
          type="submit"
          class="btn_register"
          id="btnRegister"
          value="Registrarse"
        />
        <a class="btn_register" href="./login.html">Iniciar sesión</a>
      </form>
    </div>
    <script src="../app/register.js"></script>
  </body>
</html>
