<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../styles/Estilo Universidad/universidad.css">


</head>

<body>

<div class="sidenav">
  <a href="">Inicio</a>
  <a href="">Validaciones Pendientes</a>
  <a href="">Confeccion</a>
  <a href="">Sello</a>
</div>

<p>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <input type="text" placeholder="Search..">
        <input type="button" type="submit" name="" value="Buscar">
      </div>
</p>
  



</body>
</html>